In [46]:

import pandas as pd

In [47]:
dat = "../sources/country_gdp.csv"

data_file_df = pd.read_csv(dat)

data_file_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [48]:
gdp_df = data_file_df[["Country Name", "Country Code", "2015", "2016", "2017", "2018", "2019"]]
gdp_df

,Country Name,Country Code,2015,2016,2017,2018,2019
0,Aruba,ABW,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09
1,Africa Eastern and Southern,AFE,9.242530e+11,8.823550e+11,1.020650e+12,9.910220e+11,9.975340e+11
2,Afghanistan,AFG,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10
3,Africa Western and Central,AFW,7.607340e+11,6.905460e+11,6.837490e+11,7.416900e+11,7.945430e+11
4,Angola,AGO,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10
...,...,...,...,...,...,...,...
261,Kosovo,XKX,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09
262,"Yemen, Rep.",YEM,4.244450e+10,3.131783e+10,2.684223e+10,2.160616e+10,2.188761e+10
263,South Africa,ZAF,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11
264,Zambia,ZMB,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10
265,Zimbabwe,ZWE,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10

In [49]:
gdp_df.to_csv("../sources/gdp_df.csv", index = False, header = True)