In [1]:
# Dependencies and Setup

import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
# Study data files

dirrahea_deaths_least_developed_tidy_avg_path = "../sources/dirrahea_deaths_least_developed_tidy_avg.csv"
dirrahea_deaths_most_developed_tidy_avg_path = "../sources/dirrahea_deaths_most_developed_tidy_avg.csv"

In [3]:
# Read the data and the study results

dirrahea_deaths_least_developed_tidy_avg = pd.read_csv(dirrahea_deaths_least_developed_tidy_avg_path)
dirrahea_deaths_most_developed_tidy_avg = pd.read_csv(dirrahea_deaths_most_developed_tidy_avg_path)

In [4]:
dirrahea_deaths_least_developed_tidy_avg.reset_index()
dirrahea_deaths_least_developed_tidy_avg

#The average of the five least developed countries dataframe.

                                                                                                                                                                   <<<<<<< HEAD
Country                                          Country Code Year Range  Deaths - Cause: Diarrheal diseases - Risk: Unsa...  Deaths - Cause: Diarrheal diseases - Risk: No ...
Burundi                                          BDI          2015 - 2019 5037                                                                                             1923
Madagascar                                       MDG          2015 - 2019 10662                                                                                            4032
Malawi                                           MWI          2015 - 2019 2628                                                                                             1006
Mozambique                                       MOZ          2015 - 2019 3960                                                                                             1478
Somalia                                          SOM          2015 - 2019 7950                                                                                             3018
=======                                          NaN          NaN         NaN                                                                                               NaN
Country                                          Country Code Year Range  Deaths - Cause: Diarrheal diseases - Risk: Unsa...  Deaths - Cause: Diarrheal diseases - Risk: No ...
Burundi                                          BDI          2015 - 2019 5037                                                                                             1923
Madagascar                                       MDG          2015 - 2019 10662                                                                                            4032
Malawi                                           MWI          2015 - 2019 2628                                                                                             1006
Mozambique                                       MOZ          2015 - 2019 3960                                                                                             1478
Somalia                                          SOM          2015 - 2019 7950                                                                                             3018
>>>>>>> 86c457ba26ae6df2ac0777655ed08d9a5114ec2d NaN          NaN         NaN                                                                                               NaN

In [5]:
dirrahea_deaths_most_developed_tidy_avg

#The average of the five least developed countries dataframe.

                                                                                                                                                                   <<<<<<< HEAD
Country                                          Country Code Year Range  Deaths - Cause: Diarrheal diseases - Risk: Unsa...  Deaths - Cause: Diarrheal diseases - Risk: No ...
Bermuda                                          BMU          2015 - 2019 0                                                                                                   0
Luxembourg                                       LUX          2015 - 2019 0                                                                                                   0
Monaco                                           MCO          2015 - 2019 0                                                                                                   0
Norway                                           NOR          2015 - 2019 0                                                                                                   0
Switzerland                                      CHE          2015 - 2019 0                                                                                                   0
=======                                          NaN          NaN         NaN                                                                                               NaN
Country                                          Country Code Year Range  Deaths - Cause: Diarrheal diseases - Risk: Unsa...  Deaths - Cause: Diarrheal diseases - Risk: No ...
Bermuda                                          BMU          2015 - 2019 0                                                                                                   0
Luxembourg                                       LUX          2015 - 2019 0                                                                                                   0
Monaco                                           MCO          2015 - 2019 0                                                                                                   0
Norway                                           NOR          2015 - 2019 0                                                                                                   0
Switzerland                                      CHE          2015 - 2019 0                                                                                                   0
>>>>>>> 86c457ba26ae6df2ac0777655ed08d9a5114ec2d NaN          NaN         NaN                                                                                               NaN

In [6]:
# Combine the data into a single dataset

combined_dataset = dirrahea_deaths_least_developed_tidy_avg.merge(dirrahea_deaths_most_developed_tidy_avg, how = 'outer')

In [7]:
# Display the data table for preview

combined_dataset.head(50)

                                         <<<<<<< HEAD
0   Deaths - Cause: Diarrheal diseases - Risk: No ...
1   Deaths - Cause: Diarrheal diseases - Risk: No ...
2   Deaths - Cause: Diarrheal diseases - Risk: No ...
3   Deaths - Cause: Diarrheal diseases - Risk: No ...
4                                                1923
5                                                1923
6                                                4032
7                                                4032
8                                                1006
9                                                1006
10                                               1478
11                                               1478
12                                               3018
13                                               3018
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                  0
19                                                  0
20                                                  0
21                                                  0
22                                                  0
23                                                  0
24                                                  0
25                                                  0
26                                                  0
27                                                  0

In [9]:
bar_plot_unsafe = dirrahea_deaths_least_developed_tidy_avg[["Country", "Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5"]]

bar_plot_unsafe.plot(kind = "bar")

plt.title("Total Number of Timepoints for each Drug Regimen")
plt.ylabel("Total Number of Timepoints")
plt.xlabel("Drug Regimens")

plt.tight_layout();

KeyError: "None of [Index(['Country', 'Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5'], dtype='object')] are in the [columns]"