In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
dirrahea_deaths = "../sources/dirrahea_deaths.csv"

In [3]:
# Read our Data file with the pandas library
dirrahea_deaths_df = pd.read_csv(dirrahea_deaths)

In [4]:
# Show just the header
dirrahea_deaths_df.head(50)

,Entity,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,3048,948,895,3469,23,380,259,2622,276
1,Afghanistan,AFG,1991,3555,1114,1081,4068,29,468,320,3071,320
2,Afghanistan,AFG,1992,4456,1399,1386,5104,40,600,411,3850,397
3,Afghanistan,AFG,1993,6013,1878,1840,6825,61,765,524,5145,537
4,Afghanistan,AFG,1994,6105,1911,1826,6912,71,765,526,5206,545
5,Afghanistan,AFG,1995,7123,2239,2115,8053,95,889,612,6067,644
6,Afghanistan,AFG,1996,7236,2287,2141,8187,111,910,628,6166,661
7,Afghanistan,AFG,1997,8019,2533,2343,9031,143,974,674,6799,738
8,Afghanistan,AFG,1998,8427,2665,2441,9465,169,1008,698,7123,797
9,Afghanistan,AFG,1999,8556,2712,2459,9607,187,1024,711,7224,836
10,Afghanistan,AFG,2000,8543,2724,2441,9624,196,1054,732,7233,853
11,Afghanistan,AFG,2001,8598,2757,2430,9726,198,1093,760,7301,878
12,Afghanistan,AFG,2002,8523,2748,2385,9699,193,1135,790,7268,876
13,Afghanistan,AFG,2003,9387,2986,2420,10544,239,1112,775,7884,960
14,Afghanistan,AFG,2004,9336,2965,2309,10469,251,1079,753,7810,951
15,Afghanistan,AFG,2005,8752,2786,2133,9837,236,1030,719,7323,879
16,Afghanistan,AFG,2006,7843,2495,1898,8810,206,913,638,6538,773
17,Afghanistan,AFG,2007,7019,2229,1729,7907,177,831,582,5856,679
18,Afghanistan,AFG,2008,6175,1962,1597,6993,141,764,535,5164,585
19,Afghanistan,AFG,2009,5453,1731,1484,6197,114,693,486,4555,502
20,Afghanistan,AFG,2010,5097,1609,1440,5790,102,640,449,4232,458
21,Afghanistan,AFG,2011,4726,1491,1403,5377,90,597,419,3906,412
22,Afghanistan,AFG,2012,4412,1393,1375,5029,79,562,395,3629,372
23,Afghanistan,AFG,2013,4416,1385,1401,5010,80,534,375,3589,362
24,Afghanistan,AFG,2014,4242,1326,1386,4806,75,503,353,3417,338
25,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314
26,Afghanistan,AFG,2016,3952,1227,1316,4483,68,463,327,3142,297
27,Afghanistan,AFG,2017,3908,1209,1290,4437,67,461,325,3095,285
28,Afghanistan,AFG,2018,3345,1031,1099,3807,55,401,283,2641,238
29,Afghanistan,AFG,2019,3139,963,1004,3568,53,368,261,2466,220
30,African Region (WHO),NaN,1990,549571,222483,133565,597092,7392,44943,33823,445187,44402
31,African Region (WHO),NaN,1991,564743,227929,139797,611478,7222,45067,33901,455539,44816
32,African Region (WHO),NaN,1992,555908,223891,136783,600228,6945,43464,32840,447050,43952
33,African Region (WHO),NaN,1993,552128,221856,136396,594652,6698,42616,32259,442679,43242
34,African Region (WHO),NaN,1994,556770,223579,138212,598874,6585,42694,32393,445691,43346
35,African Region (WHO),NaN,1995,552540,221761,137712,593902,6355,42352,32211,442079,42957
36,African Region (WHO),NaN,1996,552885,221677,138324,593495,6193,42133,32090,441670,42663
37,African Region (WHO),NaN,1997,551147,220767,137905,590856,6025,41705,31821,439505,42176
38,African Region (WHO),NaN,1998,549689,219962,137362,588505,5879,41321,31587,437562,41721
39,African Region (WHO),NaN,1999,543969,217437,135287,581816,5673,40741,31186,432442,41555
40,African Region (WHO),NaN,2000,532763,212784,131525,569432,5459,39687,30419,423073,40360
41,African Region (WHO),NaN,2001,523947,209029,129019,559691,5163,38750,29738,415586,39175
42,African Region (WHO),NaN,2002,513550,204447,125592,547568,4883,37210,28581,406139,37738
43,African Region (WHO),NaN,2003,498495,198287,121892,531089,4606,35836,27579,393635,36029
44,African Region (WHO),NaN,2004,484605,192490,118205,515699,4370,34391,26503,381798,34112
45,African Region (WHO),NaN,2005,475440,188407,115263,504831,4176,33139,25564,373557,32553
46,African Region (WHO),NaN,2006,476150,188182,114781,504315,4086,32236,24876,372909,31478
47,African Region (WHO),NaN,2007,465090,183492,111984,491814,3903,30979,23913,363382,29612
48,African Region (WHO),NaN,2008,449414,177363,109231,475477,3661,30025,23196,350800,27539
49,African Region (WHO),NaN,2009,436472,172263,106143,461758,3479,28958,22385,340225,25831

In [5]:
dirrahea_deaths_reduced = dirrahea_deaths_df[["Entity", "Code", "Year", "Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number)", "Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)"]]
dirrahea_deaths_reduced.head(30)

,Entity,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,3469,948
1,Afghanistan,AFG,1991,4068,1114
2,Afghanistan,AFG,1992,5104,1399
3,Afghanistan,AFG,1993,6825,1878
4,Afghanistan,AFG,1994,6912,1911
5,Afghanistan,AFG,1995,8053,2239
6,Afghanistan,AFG,1996,8187,2287
7,Afghanistan,AFG,1997,9031,2533
8,Afghanistan,AFG,1998,9465,2665
9,Afghanistan,AFG,1999,9607,2712
10,Afghanistan,AFG,2000,9624,2724
11,Afghanistan,AFG,2001,9726,2757
12,Afghanistan,AFG,2002,9699,2748
13,Afghanistan,AFG,2003,10544,2986
14,Afghanistan,AFG,2004,10469,2965
15,Afghanistan,AFG,2005,9837,2786
16,Afghanistan,AFG,2006,8810,2495
17,Afghanistan,AFG,2007,7907,2229
18,Afghanistan,AFG,2008,6993,1962
19,Afghanistan,AFG,2009,6197,1731
20,Afghanistan,AFG,2010,5790,1609
21,Afghanistan,AFG,2011,5377,1491
22,Afghanistan,AFG,2012,5029,1393
23,Afghanistan,AFG,2013,5010,1385
24,Afghanistan,AFG,2014,4806,1326
25,Afghanistan,AFG,2015,4598,1265
26,Afghanistan,AFG,2016,4483,1227
27,Afghanistan,AFG,2017,4437,1209
28,Afghanistan,AFG,2018,3807,1031
29,Afghanistan,AFG,2019,3568,963

In [7]:
dirrahea_deaths_reduced_loc = dirrahea_deaths_reduced.loc[dirrahea_deaths_reduced['Year'].isin(["2015", "2016", "2017", "2018", "2019"])]
dirrahea_deaths_reduced_loc

,Entity,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)
25,Afghanistan,AFG,2015,4598,1265
26,Afghanistan,AFG,2016,4483,1227
27,Afghanistan,AFG,2017,4437,1209
28,Afghanistan,AFG,2018,3807,1031
29,Afghanistan,AFG,2019,3568,963
...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,1140,415
6836,Zimbabwe,ZWE,2016,1088,396
6837,Zimbabwe,ZWE,2017,1054,383
6838,Zimbabwe,ZWE,2018,957,348
6839,Zimbabwe,ZWE,2019,898,326

In [8]:
dirrahea_deaths_reduced_loc["Entity"].unique()

array(['Afghanistan', 'African Region (WHO)', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'East Asia & Pacific (WB)',
       'Eastern Mediterranean Region (WHO)', 'Ecuador', 'Egypt',
       'El Salvador', 'England', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Europe & Central Asia (WB)',
       'European Region (WHO)', 'Fiji', 'Finland', 'France', 'G20',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America & Caribbean (WB)', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Middle East & North Africa (WB)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'Niue', 'North America (WB)', 'North Korea', 'North Macedonia',
       'Northern Ireland', 'Northern Mariana Islands', 'Norway',
       'OECD Countries', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Region of the Americas (WHO)', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Scotland', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia (WB)', 'South Korea', 'South Sudan',
       'South-East Asia Region (WHO)', 'Spain', 'Sri Lanka',
       'Sub-Saharan Africa (WB)', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wales', 'Western Pacific Region (WHO)', 'World',
       'World Bank High Income', 'World Bank Low Income',
       'World Bank Lower Middle Income', 'World Bank Upper Middle Income',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
dirrahea_deaths_most_developed = dirrahea_deaths_reduced_loc.loc[dirrahea_deaths_reduced_loc['Entity'].isin(["Monaco", "Luxembourg", "Bermuda", "Switzerland", "Norway"])]
dirrahea_deaths_most_developed

,Entity,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)
655,Bermuda,BMU,2015,0,0
656,Bermuda,BMU,2016,0,0
657,Bermuda,BMU,2017,0,0
658,Bermuda,BMU,2018,0,0
659,Bermuda,BMU,2019,0,0
3355,Luxembourg,LUX,2015,0,0
3356,Luxembourg,LUX,2016,0,0
3357,Luxembourg,LUX,2017,0,0
3358,Luxembourg,LUX,2018,0,0
3359,Luxembourg,LUX,2019,0,0
3775,Monaco,MCO,2015,0,0
3776,Monaco,MCO,2016,0,0
3777,Monaco,MCO,2017,0,0
3778,Monaco,MCO,2018,0,0
3779,Monaco,MCO,2019,0,0
4375,Norway,NOR,2015,0,0
4376,Norway,NOR,2016,0,0
4377,Norway,NOR,2017,0,0
4378,Norway,NOR,2018,0,0
4379,Norway,NOR,2019,0,0
5785,Switzerland,CHE,2015,0,0
5786,Switzerland,CHE,2016,0,0
5787,Switzerland,CHE,2017,0,0
5788,Switzerland,CHE,2018,0,0
5789,Switzerland,CHE,2019,0,0

In [10]:
dirrahea_deaths_most_developed_avg = dirrahea_deaths_most_developed.groupby(['Entity', 'Code']).mean()
dirrahea_deaths_most_developed_avg

#The average of the five most developed countries dataframe.

,,Year,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)
Entity,Code,,,
Bermuda,BMU,2017,0,0
Luxembourg,LUX,2017,0,0
Monaco,MCO,2017,0,0
Norway,NOR,2017,0,0
Switzerland,CHE,2017,0,0

In [11]:
dirrahea_deaths_least_developed = dirrahea_deaths_reduced_loc.loc[dirrahea_deaths_reduced_loc['Entity'].isin(["Madagascar", "Mozambique", "Malawi", "Somalia", "Burundi"])]
dirrahea_deaths_least_developed

,Entity,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)
925,Burundi,BDI,2015,5498,2099
926,Burundi,BDI,2016,5028,1919
927,Burundi,BDI,2017,4768,1820
928,Burundi,BDI,2018,4995,1907
929,Burundi,BDI,2019,4894,1868
3385,Madagascar,MDG,2015,11819,4464
3386,Madagascar,MDG,2016,11158,4217
3387,Madagascar,MDG,2017,10848,4103
3388,Madagascar,MDG,2018,10088,3818
3389,Madagascar,MDG,2019,9395,3556
3415,Malawi,MWI,2015,2920,1117
3416,Malawi,MWI,2016,2766,1059
3417,Malawi,MWI,2017,2681,1026
3418,Malawi,MWI,2018,2490,954
3419,Malawi,MWI,2019,2283,875
3895,Mozambique,MOZ,2015,4521,1686
3896,Mozambique,MOZ,2016,4152,1549
3897,Mozambique,MOZ,2017,3910,1459
3898,Mozambique,MOZ,2018,3573,1335
3899,Mozambique,MOZ,2019,3643,1361
5425,Somalia,SOM,2015,7582,2877
5426,Somalia,SOM,2016,8140,3090
5427,Somalia,SOM,2017,7887,2993
5428,Somalia,SOM,2018,7908,3003
5429,Somalia,SOM,2019,8235,3125

In [12]:
dirrahea_deaths_least_developed_avg = dirrahea_deaths_least_developed.groupby(['Entity', 'Code']).mean()
dirrahea_deaths_least_developed_avg

#The average of the five least developed countries dataframe.

,,Year,Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)
Entity,Code,,,
Burundi,BDI,2017.0,5036.6,1922.6
Madagascar,MDG,2017.0,10661.6,4031.6
Malawi,MWI,2017.0,2628.0,1006.2
Mozambique,MOZ,2017.0,3959.8,1478.0
Somalia,SOM,2017.0,7950.4,3017.6

In [13]:
dirrahea_deaths_most_developed.to_csv("../sources/dirrahea_deaths_most_developed.csv", index=False, header=True)

dirrahea_deaths_least_developed.to_csv("../sources/dirrahea_deaths_least_developed.csv", index=False, header=True)

In [14]:
dirrahea_deaths_most_developed_avg.to_csv("../sources/dirrahea_deaths_most_developed_avg.csv", index=False, header=True)

dirrahea_deaths_least_developed_avg.to_csv("../sources/dirrahea_deaths_least_developed_avg.csv", index=False, header=True)