In [4]:

import pandas as pd

In [5]:
gdp = "../sources/gdp_df.csv"

gdp_df = pd.read_csv(gdp)

gdp_df.columns
gdp_df.head()

,Country Name,Country Code,2015,2016,2017,2018,2019
0,Aruba,ABW,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.310056e+09
1,Africa Eastern and Southern,AFE,9.242530e+11,8.823550e+11,1.020650e+12,9.910220e+11,9.975340e+11
2,Afghanistan,AFG,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10
3,Africa Western and Central,AFW,7.607340e+11,6.905460e+11,6.837490e+11,7.416900e+11,7.945430e+11
4,Angola,AGO,8.721929e+10,4.984049e+10,6.897276e+10,7.779294e+10,6.930910e+10

In [8]:
trim_df = gdp_df.loc[gdp_df["Country Name"].isin[("United States of America", "China", "Japan", "Germany", "Tuvalu", "Nauru", "Kiribati", "Marshall Islands", "Palau")]]

TypeError: 'method' object is not subscriptable

In [1]:
data_file_df.loc[data_file_df["data_file_df"].isin[("United States of America", "China", "Japan", "Germany", "Tuvalu", "Nauru", "Kiribati", "Marshall Islands", "Palau")]

SyntaxError: unexpected EOF while parsing (1024453472.py, line 1)