In [154]:
import os
import csv
import pandas as pd

In [155]:
gdpc = "../sources/country_capita_gdp.csv"

gdpc = pd.read_csv(gdpc, encoding = "utf-8")
GDP_percap_df = pd.DataFrame(gdpc)

GDP_percap_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018,2019,Unnamed: 9,Mean
0,Monaco,MCO,GDP per capita (current US$),NY.GDP.PCAP.CD,165989.50510,170028.65570,167517.05970,185978.60930,189487.14710,NaN,175800.19540
1,Liechtenstein,LIE,GDP per capita (current US$),NY.GDP.PCAP.CD,167313.26630,165642.38630,171253.96430,176499.40260,169049.15690,NaN,169951.63520
2,Luxembourg,LUX,GDP per capita (current US$),NY.GDP.PCAP.CD,105462.01260,106899.29350,110193.21380,117254.74040,113218.71330,NaN,110605.59470
3,Bermuda,BMU,GDP per capita (current US$),NY.GDP.PCAP.CD,102005.62560,106885.87850,111820.58150,113050.73690,116153.16610,NaN,109983.19770
4,Isle of Man,IMN,GDP per capita (current US$),NY.GDP.PCAP.CD,85126.97047,82197.12677,83477.83429,89112.66772,86481.55259,NaN,85279.23037

In [156]:
ddeaths = "../sources/dirrahea_deaths.csv"

ddie = pd.read_csv(ddeaths, encoding = "utf-8")
dia_deaths_df = pd.DataFrame(ddie)

In [157]:
lowgdppc = GDP_percap_df.sort_values("Mean").head()
lowgdppc

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018,2019,Unnamed: 9,Mean
257,Burundi,BDI,GDP per capita (current US$),NY.GDP.PCAP.CD,305.511144,251.651477,250.514601,238.034310,223.862876,NaN,253.914882
256,Somalia,SOM,GDP per capita (current US$),NY.GDP.PCAP.CD,386.437817,389.822062,384.463401,389.831395,419.394808,NaN,393.989897
255,Central African Republic,CAF,GDP per capita (current US$),NY.GDP.PCAP.CD,377.422918,402.191645,450.900697,475.953814,468.117515,NaN,434.917318
254,Malawi,MWI,GDP per capita (current US$),NY.GDP.PCAP.CD,380.596988,315.777987,506.137294,544.593459,591.847084,NaN,467.790562
253,Mozambique,MOZ,GDP per capita (current US$),NY.GDP.PCAP.CD,589.859431,428.926450,461.414928,503.302009,506.817139,NaN,498.063992

In [158]:
highgdppc = GDP_percap_df.sort_values("Mean", ascending=False).head()
highgdppc

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018,2019,Unnamed: 9,Mean
0,Monaco,MCO,GDP per capita (current US$),NY.GDP.PCAP.CD,165989.50510,170028.65570,167517.05970,185978.60930,189487.14710,NaN,175800.19540
1,Liechtenstein,LIE,GDP per capita (current US$),NY.GDP.PCAP.CD,167313.26630,165642.38630,171253.96430,176499.40260,169049.15690,NaN,169951.63520
2,Luxembourg,LUX,GDP per capita (current US$),NY.GDP.PCAP.CD,105462.01260,106899.29350,110193.21380,117254.74040,113218.71330,NaN,110605.59470
3,Bermuda,BMU,GDP per capita (current US$),NY.GDP.PCAP.CD,102005.62560,106885.87850,111820.58150,113050.73690,116153.16610,NaN,109983.19770
4,Isle of Man,IMN,GDP per capita (current US$),NY.GDP.PCAP.CD,85126.97047,82197.12677,83477.83429,89112.66772,86481.55259,NaN,85279.23037

In [159]:
dia_deaths_df.head()

,Entity,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number)
0,Afghanistan,AFG,1990,3048,948,895,3469,23,380,259,2622,276
1,Afghanistan,AFG,1991,3555,1114,1081,4068,29,468,320,3071,320
2,Afghanistan,AFG,1992,4456,1399,1386,5104,40,600,411,3850,397
3,Afghanistan,AFG,1993,6013,1878,1840,6825,61,765,524,5145,537
4,Afghanistan,AFG,1994,6105,1911,1826,6912,71,765,526,5206,545

In [160]:
recent_df = dia_deaths_df.loc[dia_deaths_df["Year"] > 2014]
recent_df

,Entity,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number)
25,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314
26,Afghanistan,AFG,2016,3952,1227,1316,4483,68,463,327,3142,297
27,Afghanistan,AFG,2017,3908,1209,1290,4437,67,461,325,3095,285
28,Afghanistan,AFG,2018,3345,1031,1099,3807,55,401,283,2641,238
29,Afghanistan,AFG,2019,3139,963,1004,3568,53,368,261,2466,220
...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,949,415,326,1140,5,64,57,759,62
6836,Zimbabwe,ZWE,2016,904,396,305,1088,5,59,53,719,57
6837,Zimbabwe,ZWE,2017,875,383,295,1054,5,58,52,692,53
6838,Zimbabwe,ZWE,2018,794,348,269,957,4,53,48,624,47
6839,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43

In [161]:
more_recent = recent_df.rename(columns = {"Entity": "Country Name"})

In [162]:
more_recent

,Country Name,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number)
25,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314
26,Afghanistan,AFG,2016,3952,1227,1316,4483,68,463,327,3142,297
27,Afghanistan,AFG,2017,3908,1209,1290,4437,67,461,325,3095,285
28,Afghanistan,AFG,2018,3345,1031,1099,3807,55,401,283,2641,238
29,Afghanistan,AFG,2019,3139,963,1004,3568,53,368,261,2466,220
...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Zimbabwe,ZWE,2015,949,415,326,1140,5,64,57,759,62
6836,Zimbabwe,ZWE,2016,904,396,305,1088,5,59,53,719,57
6837,Zimbabwe,ZWE,2017,875,383,295,1054,5,58,52,692,53
6838,Zimbabwe,ZWE,2018,794,348,269,957,4,53,48,624,47
6839,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43

In [163]:
GDP_percap_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2015,2016,2017,2018,2019,Unnamed: 9,Mean
0,Monaco,MCO,GDP per capita (current US$),NY.GDP.PCAP.CD,165989.50510,170028.65570,167517.05970,185978.60930,189487.14710,NaN,175800.19540
1,Liechtenstein,LIE,GDP per capita (current US$),NY.GDP.PCAP.CD,167313.26630,165642.38630,171253.96430,176499.40260,169049.15690,NaN,169951.63520
2,Luxembourg,LUX,GDP per capita (current US$),NY.GDP.PCAP.CD,105462.01260,106899.29350,110193.21380,117254.74040,113218.71330,NaN,110605.59470
3,Bermuda,BMU,GDP per capita (current US$),NY.GDP.PCAP.CD,102005.62560,106885.87850,111820.58150,113050.73690,116153.16610,NaN,109983.19770
4,Isle of Man,IMN,GDP per capita (current US$),NY.GDP.PCAP.CD,85126.97047,82197.12677,83477.83429,89112.66772,86481.55259,NaN,85279.23037

In [164]:
small_df = GDP_percap_df.copy()
small_df = small_df[["Country Name", "2015", "2016", "2017", "2018", "2019"]]

In [165]:
small_df

,Country Name,2015,2016,2017,2018,2019
0,Monaco,165989.505100,170028.655700,167517.059700,185978.609300,189487.147100
1,Liechtenstein,167313.266300,165642.386300,171253.964300,176499.402600,169049.156900
2,Luxembourg,105462.012600,106899.293500,110193.213800,117254.740400,113218.713300
3,Bermuda,102005.625600,106885.878500,111820.581500,113050.736900,116153.166100
4,Isle of Man,85126.970470,82197.126770,83477.834290,89112.667720,86481.552590
...,...,...,...,...,...,...
253,Mozambique,589.859431,428.926450,461.414928,503.302009,506.817139
254,Malawi,380.596988,315.777987,506.137294,544.593459,591.847084
255,Central African Republic,377.422918,402.191645,450.900697,475.953814,468.117515
256,Somalia,386.437817,389.822062,384.463401,389.831395,419.394808
257,Burundi,305.511144,251.651477,250.514601,238.034310,223.862876

In [166]:
small_df.set_index("Country Name")

,2015,2016,2017,2018,2019
Country Name,,,,,
Monaco,165989.505100,170028.655700,167517.059700,185978.609300,189487.147100
Liechtenstein,167313.266300,165642.386300,171253.964300,176499.402600,169049.156900
Luxembourg,105462.012600,106899.293500,110193.213800,117254.740400,113218.713300
Bermuda,102005.625600,106885.878500,111820.581500,113050.736900,116153.166100
Isle of Man,85126.970470,82197.126770,83477.834290,89112.667720,86481.552590
...,...,...,...,...,...
Mozambique,589.859431,428.926450,461.414928,503.302009,506.817139
Malawi,380.596988,315.777987,506.137294,544.593459,591.847084
Central African Republic,377.422918,402.191645,450.900697,475.953814,468.117515
Somalia,386.437817,389.822062,384.463401,389.831395,419.394808
Burundi,305.511144,251.651477,250.514601,238.034310,223.862876

In [167]:
stacked_df = small_df.set_index("Country Name").stack()

In [168]:
stacked_df

Country Name
Monaco        2015    165989.505100
              2016    170028.655700
              2017    167517.059700
              2018    185978.609300
              2019    189487.147100
                          ...
Burundi       2015       305.511144
              2016       251.651477
              2017       250.514601
              2018       238.034310
              2019       223.862876
Length: 1284, dtype: float64

In [170]:
tiny_df = pd.DataFrame(stacked_df)
tiny_df

                               0
Country Name
Monaco       2015  165989.505100
             2016  170028.655700
             2017  167517.059700
             2018  185978.609300
             2019  189487.147100
...                          ...
Burundi      2015     305.511144
             2016     251.651477
             2017     250.514601
             2018     238.034310
             2019     223.862876

[1284 rows x 1 columns]

In [ ]:
tiny_df.to_csv("tiny_df3.csv", index=True, header = True)

In [171]:
gdppc = "tiny_df3.csv"

gpc_read = pd.read_csv(gdppc, encoding = "utf-8")
finalGDP = pd.DataFrame(gpc_read)

finalGDP.head()

  Country Name  Year  GDP per capita
0       Monaco  2015     165989.5051
1       Monaco  2016     170028.6557
2       Monaco  2017     167517.0597
3       Monaco  2018     185978.6093
4       Monaco  2019     189487.1471

In [173]:
gnd_df = pd.merge(more_recent, finalGDP,  on = "Country Name", how="left")

In [174]:
gnd_df

,Country Name,Code,Year_x,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number),Year_y,GDP per capita
0,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2015.0,556.007221
1,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2016.0,512.012778
2,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2017.0,516.679862
3,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2018.0,485.668419
4,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2019.0,494.179350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2015.0,1445.069702
4596,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2016.0,1464.588957
4597,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2017.0,1235.189032
4598,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2018.0,1254.642265
4599,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2019.0,1316.740657

In [176]:
gnd_df = gnd_df.dropna(how="any")

In [177]:
gnd_df.dtypes

Country Name                                                                                                         object
Code                                                                                                                 object
Year_x                                                                                                                int64
Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number)                   int64
Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number)      int64
Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number)               int64
Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number)                    int64
Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number)                        int64
Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number)                       int64
Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number)                        int64
Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number)                      int64
Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number)                   int64
Year_y                                                                                                              float64
GDP per capita                                                                                                      float64
dtype: object

In [178]:
gnd_df.astype({"Year_y": 'int64'})

,Country Name,Code,Year_x,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number),Year_y,GDP per capita
0,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2015,556.007221
1,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2016,512.012778
2,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2017,516.679862
3,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2018,485.668419
4,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2019,494.179350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2015,1445.069702
4596,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2016,1464.588957
4597,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2017,1235.189032
4598,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2018,1254.642265
4599,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2019,1316.740657

In [179]:
clean_df = gnd_df.loc[((gnd_df["Year_x"] == 2015) & (gnd_df["Year_y"] == 2015)) |((gnd_df["Year_x"] == 2016) & (gnd_df["Year_y"] == 2016)) | ((gnd_df["Year_x"] == 2017) & (gnd_df["Year_y"] == 2017)) | ((gnd_df["Year_x"] == 2018) & (gnd_df["Year_y"] == 2018))| ((gnd_df["Year_x"] == 2019) & (gnd_df["Year_y"] == 2019)) ]

In [180]:
clean_df

,Country Name,Code,Year_x,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number),Year_y,GDP per capita
0,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,2015.0,556.007221
6,Afghanistan,AFG,2016,3952,1227,1316,4483,68,463,327,3142,297,2016.0,512.012778
12,Afghanistan,AFG,2017,3908,1209,1290,4437,67,461,325,3095,285,2017.0,516.679862
18,Afghanistan,AFG,2018,3345,1031,1099,3807,55,401,283,2641,238,2018.0,485.668419
24,Afghanistan,AFG,2019,3139,963,1004,3568,53,368,261,2466,220,2019.0,494.179350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4575,Zimbabwe,ZWE,2015,949,415,326,1140,5,64,57,759,62,2015.0,1445.069702
4581,Zimbabwe,ZWE,2016,904,396,305,1088,5,59,53,719,57,2016.0,1464.588957
4587,Zimbabwe,ZWE,2017,875,383,295,1054,5,58,52,692,53,2017.0,1235.189032
4593,Zimbabwe,ZWE,2018,794,348,269,957,4,53,48,624,47,2018.0,1254.642265
4599,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,2019.0,1316.740657

In [181]:
del clean_df["Year_y"]

In [183]:
clean_df.rename(columns= {"Year_x": "Year"})

,Country Name,Code,Year,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number),GDP per capita
0,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,556.007221
6,Afghanistan,AFG,2016,3952,1227,1316,4483,68,463,327,3142,297,512.012778
12,Afghanistan,AFG,2017,3908,1209,1290,4437,67,461,325,3095,285,516.679862
18,Afghanistan,AFG,2018,3345,1031,1099,3807,55,401,283,2641,238,485.668419
24,Afghanistan,AFG,2019,3139,963,1004,3568,53,368,261,2466,220,494.179350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4575,Zimbabwe,ZWE,2015,949,415,326,1140,5,64,57,759,62,1445.069702
4581,Zimbabwe,ZWE,2016,904,396,305,1088,5,59,53,719,57,1464.588957
4587,Zimbabwe,ZWE,2017,875,383,295,1054,5,58,52,692,53,1235.189032
4593,Zimbabwe,ZWE,2018,794,348,269,957,4,53,48,624,47,1254.642265
4599,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,1316.740657

In [184]:
clean_df

,Country Name,Code,Year_x,Deaths - Cause: Diarrheal diseases - Risk: Child growth failure - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: No access to handwashing facility - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Suboptimal breastfeeding - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe water source - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Zinc deficiency - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Low birth weight - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Short gestation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Unsafe sanitation - Sex: Both - Age: Under 5 (Number),Deaths - Cause: Diarrheal diseases - Risk: Vitamin A deficiency - Sex: Both - Age: Under 5 (Number),GDP per capita
0,Afghanistan,AFG,2015,4053,1265,1356,4598,69,480,338,3238,314,556.007221
6,Afghanistan,AFG,2016,3952,1227,1316,4483,68,463,327,3142,297,512.012778
12,Afghanistan,AFG,2017,3908,1209,1290,4437,67,461,325,3095,285,516.679862
18,Afghanistan,AFG,2018,3345,1031,1099,3807,55,401,283,2641,238,485.668419
24,Afghanistan,AFG,2019,3139,963,1004,3568,53,368,261,2466,220,494.179350
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4575,Zimbabwe,ZWE,2015,949,415,326,1140,5,64,57,759,62,1445.069702
4581,Zimbabwe,ZWE,2016,904,396,305,1088,5,59,53,719,57,1464.588957
4587,Zimbabwe,ZWE,2017,875,383,295,1054,5,58,52,692,53,1235.189032
4593,Zimbabwe,ZWE,2018,794,348,269,957,4,53,48,624,47,1254.642265
4599,Zimbabwe,ZWE,2019,744,326,255,898,4,50,45,582,43,1316.740657

In [185]:
clean_df.to_csv("../sources/gpd_dia.csv", index=False, header = True)